@charset "UTF-8";

#info1 {
	text-align:center;
	background-color: #666; 
	padding : 30px;
	font-size: 30px;
	color: white;
}
#button {
	text-align:center;
}
#title {
	background-color: gray;
	font-size: 20px;
	font-weight: bold;
}